/* Entire modal with background */
.wallet-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    /* padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.1); /* Black w/ opacity */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
  
  /* Modal Content */
  .wallet-modal .medium-modal-content {
    color: white;
    background-color: rgba(0,0,0,0.3);
    margin: auto;
    border: 1px solid #9720F8;
    border-radius: 20px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
  }
  
  /* The Close Button */
  .wallet-modal .close {
    color: white;
    float: right;
    font-weight: bold;
  }
  
  .wallet-modal .close:hover,
  .wallet-modal .close:focus {
    color: #42C6C2;
    text-decoration: none;
    cursor: pointer;
  }